<h2>Ward View</h2>
<!-- add table somewhere around here -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Email</th>
        <th>Calling</th>
        <th>Reporter</th>
        <th>Minister</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Action of Actions">
        <td>{{Action?.Timestamp?.toDateString()}}</td>
        <td><a href="mailto: {{Action.Email}}">{{Action?.Email}}</a></td>
        <td>{{Action?.Calling}}</td>
        <td>{{Action?.UserName}}</td>
        <td>{{Action?.MinisterName}}</td>
        <td class="">
          <a class="btn btn-primary btn-small mx-1" (click)="onUpdate(Action.Id)">View</a>
          <a class="btn btn-danger btn-small mx-1" (click)="onDelete(Action.Id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
