<div class="container mb-3 align-items-center col-md-6">
  <form #actionForm="ngForm" (ngSubmit)="onSubmit(actionForm)">
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input type="email" id="email" class="form-control" ngModel name="email" required email>
    </div>
    <div class="mb-3">
      <label class="form-label" for="UserName">What is your name?</label>
      <input type="text" id="UserName" class="form-control" ngModel name="userName" required>
    </div>
    <div class="mb-3">
      <p>Please Select your calling:</p>
      <div class="form-check">
        <input class="form-check-input" type="radio"  name="calling" id="ElderQ" value="Elders's Quorum" ngModel checked>
        <label class="form-check-label" for="ElderQ">
          Elder's Quorum
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  name="calling" id="ReliefS" value="Relief Society" ngModel>
        <label class="form-check-label" for="ReliefS">
          Relief Society
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  name="calling" id="FHECoord" value="FHE Leader" ngModel>
        <label class="form-check-label" for="FHECoord">
          FHE Leader
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  name="calling" id="SLC" value="Student Living Coordinator" ngModel>
        <label class="form-check-label" for="SLC">
          Student Living Coordinator
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  name="calling" id="FamHis" value="Family History" ngModel>
        <label class="form-check-label" for="FamHis">
          Family History
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  name="calling" id="WardMiss" value="Ward Missionary" ngModel>
        <label class="form-check-label" for="WardMiss">
          Ward Missionary
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  name="calling" id="other" value="Other" ngModel>
        <label class="form-check-label" for="other">
          Other
        </label>
      </div>
    </div>
<div class="mb-3">
  <label class="form-label" for="UserName">Who Will you minister to this Week?</label>
  <input type="text" id="UserName" class="form-control" ngModel name="ministerName" required>
</div>
<hr>
<div class="form-floating mb-3">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" ngModel
    name="details"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
<div class="mb-3">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>