<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ward Action List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/actions">Add Action</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLinkActive="active" routerLink="ward-view">Ward View</a>
        </li>
      </ul>
      <a class="nav-link ms-auto" routerLink="/auth" *ngIf="!isAuthenticated">Login</a>
      <a class="nav-link ms-auto" routerLink="/auth" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
    </div>
  </div>
</nav>