<h1 class="text-center">Ward Action List</h1>

<blockquote class="blockquote">
  “Effective ministering efforts are enabled by the innate gifts of the sisters and by the incomparable power of the
  priesthood. We all need such protection from the cunning wiles of the adversary.” -Russell M. Nelson
</blockquote>

<div class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/woman_issue_blood_jesus.jpeg" class="d-block w-100"
        alt="Jesus Issue of Blood Service">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/doctrineofchrist.jpg" class="d-block w-100" alt="Doctrine of Christ Service">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/jesus_black_lamb.jpeg" class="d-block w-100" alt="Christ holding a lamb Service">
    </div>
  </div>
</div>

<div class="container mt-3 text-center">
  <a class="btn btn-primary btn-large m-2" routerLink="/actions">Add New Action</a>
  <a class="btn btn-secondary btn-large m-2" [routerLink]="['/auth']" *ngIf="!isAuthenticated">Ward Login</a>
  <a class="btn btn-secondary btn-large m-2" [routerLink]="['/ward-view']" *ngIf="isAuthenticated">Ward View</a>
</div>